@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.center-align {
  text-align: center;
}

.center-align  > div {
    display: inline-block;
    vertical-align: middle;
}

.button {
  display: inline;
  padding: 5px;
}

.newrow-button {
  width: 90%;
  padding: 6px;
}
