:root {
  --mdc-theme-primary: #1b5e20;
  --mdc-theme-secondary: #212121;
  --mdc-theme-on-primary: #9e9e9e;
  --mdc-theme-on-secondary: #1b5e20;
  --mdc-theme-surface: #212121;
  --mdc-theme-background: #121212;
  --mdc-theme-on-surface: #9e9e9e;
  --mdc-theme-text-primary-on-light:#121212;
  --mdc-theme-text-primary-on-dark:#ffffff;
  --mdc-theme-text-secondary-on-light:#121212;
  --mdc-theme-text-secondary-on-dark:#ffffff;
}

.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
}

.demo-card-image__filename {
  font-size: 14px;
  font-weight: 500;
  padding: 16px;
}

.mdc-fab--small {
  height: 30px;
  width: 30px;
}

.remote-edit {
  font-size: small;
  padding: 4px;
}

.controller-width-class {
  width: 200px;
}

.button-add {
  position: fixed;
  font-size: medium;
  padding: 4px;
  bottom: 0;
  right: 0;
  vertical-align: middle;
}

.button-delete {
  position: fixed;
  font-size: medium;
  padding: 4px;
  bottom: 0;
  vertical-align: middle;
  color: red;
}

div#add-remote {
  padding: 10px;
}
