.mdl-layout__drawer.is-visible {
  width: 300px;
}

.mdl-list__item-secondary-action {
  margin-right: 50px;
}

.mdl-list__item:hover {
  background-color: #e0e0e0
}

.demo-card-image.mdl-card {
  width: 256px;
  height: 256px;
}
.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}

.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 16px;
}

.mdc-fab--color-override {
  background-color: #e0e0e0;
  color: black
}

.mdc-fab--small {
  height: 30px;
  width: 30px;
}


.mdc-card--background {
  background-color: rgb(247, 247, 247)
}

.remote-edit {
  font-size: small;
  padding: 4px;
}

.controller-width-class {
  width: 200px;
}

.button-add {
  position: fixed;
  font-size: medium;
  padding: 4px;
  bottom: 0;
  right: 0;
  vertical-align: middle;
}

.button-delete {
  position: fixed;
  font-size: medium;
  padding: 4px;
  bottom: 0;
  vertical-align: middle;
  color: red;
}

div#add-remote {
  padding: 10px;
}

/* dialog {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
} */